{% extends "repository/main" %}

{% block repo_content %}
    <div class="container" style="padding-left: 0; padding-right: 0">
        <div class="container" style="margin-bottom: 30px">
            <div class="row border bg-white" style="padding: 15px">
                <div class="col-auto">
                    <img id="{{ commit.name }}-avatar" class="rounded-circle" width="16px">
                </div>
                <div class="col-auto mr-auto">
                    {{ commit.author.name }}
                </div>
                <div id="{{ commit.name }}-time" class="col-auto">
                    <!-- time -->
                </div>
            </div>
            <div class="row border border-top-0 bg-light">
                <div class="col-auto mr-auto" style="padding-top: 10px">
                    <pre>{{ commit.fullMessage }}</pre>
                </div>
                <div class="col-auto">
                    <a style="margin: 15px" type="button" class="btn btn-outline-primary" href="/{{ repository.path }}/tree/{{ commit.name }}/">Browse files</a>
                </div>
            </div>
        </div>
        <div id="diffs" class="container" style="padding: 0">

        </div>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="/assets/js/highlight.pack.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.12.1/diff2html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.12.1/diff2html-ui.min.js"></script>

    <script>
        var diff2htmlUi = new Diff2HtmlUI({diff: "{{ diff | escape(strategy = "js") }}"});
        diff2htmlUi.draw('#diffs', {inputFormat: 'diff', showFiles: false, matching: 'lines'});
        diff2htmlUi.highlightCode('#diffs');

        document.getElementById("{{ commit.name }}-time").innerHTML = moment({{ commit.time }} * 1000).fromNow();
        document.getElementById("{{ commit.name }}-avatar").src = "https://www.gravatar.com/avatar/" + md5("{{ commit.author.email }}");
    </script>
{% endblock %}
