{% extends "repository/main" %}

{% block repo_content %}
    <div class="container" style="padding-left: 0; padding-right: 0">
        <nav aria-label="breadcrumb">
            <ol id="breadcrumb" class="breadcrumb border" style="background-color: #f8f9fa !important; margin-bottom: 0;">
                <li class="breadcrumb-item"><a href="/{{ repository.path }}">{{ repository.name }}</a></li>
            </ol>
        </nav>

        <pre class="container" style="padding: 0">
            <code class="{{ fileExtension }} border">{{ fileContent }}</code>
        </pre>
    </div>
{% endblock %}

{% block script %}
{{ parent() }}
    <script src="/assets/js/highlight.pack.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>

    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();

        var path = ("{{ path }}").substr(1);
        var paths = path.split("/");

        paths.forEach(function (value, index) {
            var arr = [];

            for (var i = 0; i < index + 1; i++) {
                arr[i] = paths[i];
            }

            document.getElementById("breadcrumb").innerHTML
                += "<li class=\"breadcrumb-item\"><a href=\"/{{ repository.path }}/tree/{{ commitName }}/" + arr.join("/") + "\">" + value + "</a></li>";
        });
    </script>
{% endblock %}
