{% extends "../base" %}

{% block title %} {{ repository.name }} {% endblock %}

{% block content %}
<div class="container border" style="padding: 30px; margin-bottom: 30px">
    <div class="row">
        <div class="col-auto mr-auto">
            <h2>{{ repository.name }}<span style="font-size: 18px">#{{ repository.id }}</span>
                {% if repository.confidential equals true %}
                <span class="badge badge-secondary">private</span>
                {% endif %}
            </h2>
        </div>
        <div class="col-auto">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm btn-primary" disabled><i class="fa fa-star" aria-hidden="true" style="padding-right: 5px"></i>star</button>
                <button type="button" class="btn btn-sm btn-link" disabled>{{ repository.stars }}</button>
            </div>
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="modal" data-target="#clone">
                clone
            </button>

            <div class="modal fade" id="clone" tabindex="-1" role="dialog" aria-labelledby="clone" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Clone {{ repository.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-form-label">Clone with HTTP</label>
                                <input type="text" class="form-control" value="{{ urls.http }}" readonly>
                            </div>
                            {% if urls.ssh is not null %}
                            <div class="form-group">
                                <label class="col-form-label">Clone with SSH</label>
                                <input type="text" class="form-control" value="{{ urls.ssh }}" readonly>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if repository.description is not null %}
            <p class="card-text">{{ repository.description }}</p>
            {% else %}
            <p class="card-text text-muted">No description provided</p>
            {% endif %}
        </div>
    </div>
</div>
{% if lastCommit is not empty %}
    <div class="container border" style="padding: 15px 15px 15px 30px; margin-bottom: 30px">
        <div class="row">
            <div class="col-auto">
                <img id="{{ lastCommit.name }}-avatar" class="rounded-circle" width="16px">
            </div>
            <div class="col-auto">
                {{ lastCommit.author.name }}
            </div>
            <div class="col-auto mr-auto">
                <a href="/{{ repository.path }}/diff/{{ lastCommit.name }}">{{ lastCommit.message }}</a>
            </div>
            <div id="{{ lastCommit.name }}-time" class="col-auto">
                <!-- time -->
            </div>
        </div>
    </div>
{% endif %}

{% block repo_content %}
    {% include "repository/tree" %}
{% endblock %}

{% endblock %}

{% block script %}
<script>
    document.getElementById("{{ lastCommit.name }}-time").innerHTML = moment({{ lastCommit.time }} * 1000).fromNow();
    document.getElementById("{{ lastCommit.name }}-avatar").src = "https://www.gravatar.com/avatar/" + md5("{{ lastCommit.author.email }}");
</script>
{% endblock %}
