{% extends "repository/main" %}

{% block repo_content %}
    <div class="container" style="padding-left: 0; padding-right: 0">
        <nav aria-label="breadcrumb">
            <ol id="breadcrumb" class="breadcrumb border" style="background-color: #f8f9fa !important">
                <li class="breadcrumb-item"><a href="/{{ repository.path }}">{{ repository.name }}</a></li>
            </ol>
        </nav>
    </div>

    {% include "repository/tree" %}
{% endblock %}

{% block script %}
{{ parent() }}
<script>
    var path = ("{{ path }}").substr(1);
    var paths = path.split("/");

    paths.forEach(function (value, index) {
        var arr = [];

        for (var i = 0; i < index + 1; i++) {
            arr[i] = paths[i];
        }

        document.getElementById("breadcrumb").innerHTML
            += "<li class=\"breadcrumb-item\"><a href=\"/{{ repository.path }}/tree/{{ commitName }}/" + arr.join("/") + "\">" + value + "</a></li>";
    });
</script>
{% endblock %}
