{% if tree is not null %}
<div class="container" style="padding-left: 0; padding-right: 0">
    <table class="table table-hover border" style="margin-bottom: 30px">
        <tbody>
        {% for file in tree %}
        <tr style="padding: 5px">
            <td>
                {% if file.isDirectory equals false %}
                <i class="fa fa-file-o" aria-hidden="true"></i>
                <a href="/{{ repository.path }}/file/{{ file.commit.name }}{{ file.path }}">{{ file.name }}</a>
                {% else %}
                <i class="fa fa-folder-o" aria-hidden="true"></i>
                <a href="/{{ repository.path }}/tree/{{ file.commit.name }}{{ file.path }}">{{ file.name }}</a>
                {% endif %}
            </td>
            <td><a href="/{{ repository.path }}/diff/{{ file.commit.name }}">{{ file.commit.message }}</a></td>
            <td id="{{ file.name | replace({' ': '_'}) }}-{{ file.commit.name }}-tree-time" style="text-align: right">
                {{ file.commit.time }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    {% for file in tree %}
    document.getElementById("{{ file.name | replace({' ': '_'}) }}-{{ file.commit.name }}-tree-time").innerText = moment({{ file.commit.time }} * 1000).fromNow();
    {% endfor %}
</script>
{% endif %}
