<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}VGit{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/highlight.css">
    <link rel="stylesheet" href="/assets/css/highlight-line-number.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.12.1/diff2html.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.12.0/js/md5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">{% block logo %}VGit{% endblock %}</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% block navbar %}{% endblock %}
            </ul>

            <div class="my-2 my-lg-0">
                {% if user is null %}
                    <a class="navbar-brand" href="/login">Sign in</a>
                {% else %}
                    <div class="nav-item dropleft">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img width="32px" class="rounded-circle" alt="avatar" id="avatar">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/{{ user.login }}">
                                <i class="fa fa-user" aria-hidden="true" style="padding-right: 5px"></i>Profile
                            </a>
                            <a class="dropdown-item" href="/new/project">
                                <i class="fa fa-hdd-o" aria-hidden="true" style="padding-right: 5px"></i>New project
                            </a>
                            <a class="dropdown-item" href="/new/group">
                                <i class="fa fa-users" aria-hidden="true" style="padding-right: 5px"></i>New group
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/auth/logout">
                                <i class="fa fa-sign-out" aria-hidden="true" style="padding-right: 5px"></i>Log out
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <div id="container" style="padding-left: 5%; padding-right: 5%; padding-top: 5%">
        {% block content %}{% endblock %}
    </div>

    {% if user is not null %}
    <script>
        document.getElementById("avatar").src = "https://www.gravatar.com/avatar/" + md5("{{ user.email }}");
    </script>
    {% endif %}

    {% block script %}{% endblock %}
</body>
</html>
