<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if message is null %}
        Page not found!
        {% else %}
        {{ message }}
        {% endif %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/assets/css/font-awesome.min.css">
</head>
<body>
<div class="container" style="padding: 5%">
    <div class="d-flex justify-content-center align-items-center" id="main">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">
            {% if code is null %}
            Ops!
            {% else %}
            {{ code }}
            {% endif %}
        </h1>
        <div class="inline-block align-middle">
            <h2 class="font-weight-normal lead" id="desc">
                {% if message is null %}
                Page not found!
                {% else %}
                {{ message }}
                {% endif %}
            </h2>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 50px">
        <button type="button" class="btn btn-light" onclick="window.history.back()">Go back</button>
    </div>
</div>
</body>
</html>
