{% extends "base" %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <h1>VGit</h1>
            <h2>Open & powerful git server</h2>
        </div>
        <div class="col-sm-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                </li>
            </ul>
            <div class="tab-content border border-top-0" id="myTabContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="home-tab">
                    <div class="container" style="padding: 5%">
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <label for="inputLogin">Login</label>
                                <input type="text" class="form-control" id="inputLogin" name="username" placeholder="Login">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="container" style="padding: 5%">
                        <form action="/registration" method="POST">
                            <div class="form-group">
                                <label for="inputLoginRegister">Login</label>
                                <input type="text" class="form-control" id="inputLoginRegister" name="username" placeholder="Login">
                            </div>
                            <div class="form-group">
                                <label for="inputFullNameRegister">Full name</label>
                                <input type="text" class="form-control" id="inputFullNameRegister" name="fullName" placeholder="Full name">
                            </div>
                            <div class="form-group">
                                <label for="inputEmailRegister">Email</label>
                                <input type="email" class="form-control" id="inputEmailRegister" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="inputPasswordRegister">Password</label>
                                <input type="password" class="form-control" id="inputPasswordRegister" name="password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
