{% extends "base" %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="container border" style="padding: 5%; max-width: 50%">

        <h1 style="padding-bottom: 25px">Sign in</h1>

        {% if error is not null %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

        <form action="/login" method="POST">
            <div class="form-group">
                <label for="inputLogin">Login</label>
                <input type="text" class="form-control" name="username" id="inputLogin" placeholder="Login" value="{{ username }}">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
</div>
{% endblock %}
