{% extends "base" %}

{% block title %} {{ profile.fullName }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-start" style="margin-bottom: 30px">
        <div class="col-md-auto">
            <img id="profile-avatar" class="rounded-circle" alt="avatar" />
        </div>
        <div class="col-sm">
            <h1>{{ profile.fullName }}</h1>
            <h4>{{ profile.login }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="margin-bottom: 30px">
            <ul class="list-group">
                <li class="list-group-item text-muted">Profile</li>
                <li id="profile-time" class="list-group-item d-flex justify-content-between align-items-center"><span class="pull-left"><strong>Joined </strong></span> NaN</li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><span class="pull-left"><strong>Email </strong></span> {{ profile.email }}</li>
            </ul>
        </div>
        <div class="col-sm-8">
            {% if repositories is not empty %}
                {% for repository in repositories %}
                    <div class="card" style="margin: 0 15px 15px; padding: 15px">
                        <h4 class="card-title">
                            <i class="fa fa-archive" aria-hidden="true" style="padding-right: 5px"></i>
                            <a href="/{{ repository.path }}">{{ repository.name }}</a>
                            {% if repository.confidential equals true %}
                            <span class="badge badge-secondary">private</span>
                            {% endif %}
                        </h4>
                        {% if repository.description is not null %}
                            <p class="card-text">{{ repository.description }}</p>
                        {% else %}
                            <p class="card-text text-muted">No description provided</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}

{% block script %}
    <script>
        document.getElementById("profile-time").innerHTML = "<span class=\"pull-left\"><strong>Joined </strong></span>" + moment({{ profile.registration }} * 1000).fromNow();
        document.getElementById("profile-avatar").src = "https://www.gravatar.com/avatar/" + md5("{{ profile.email }}") + "?s=100";
    </script>
{% endblock %}
