{% extends "base" %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="container border" style="padding: 5%; max-width: 50%">

        <h1 style="padding-bottom: 25px">Registration</h1>

        {% if error is not null %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

        <form action="/registration" method="POST">
            <div class="form-group">
                <label for="inputLoginRegister">Login</label>
                <input type="text" class="form-control" id="inputLoginRegister" name="username" placeholder="Login" value="{{ username }}">
            </div>
            <div class="form-group">
                <label for="inputFullNameRegister">Full name</label>
                <input type="text" class="form-control" id="inputFullNameRegister" name="fullName" placeholder="Full name" value="{{ fullName }}">
            </div>
            <div class="form-group">
                <label for="inputEmailRegister">Email</label>
                <input type="email" class="form-control" id="inputEmailRegister" name="email" placeholder="Email" value="{{ email }}">
            </div>
            <div class="form-group">
                <label for="inputPasswordRegister">Password</label>
                <input type="password" class="form-control" id="inputPasswordRegister" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
{% endblock %}
