.hljs {
  padding: 0 !important;
}

.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: rgba(0,0,0,.3);
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;
}

.hljs-ln td {
  padding: 0 10px 0 10px !important
}
