{% extends "../base" %}

{% block title %} New project {% endblock %}

{% block content %}

{% if error is not null %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#empty" role="tab" aria-controls="empty" aria-selected="true">Empty project</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" id="profile-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="false" aria-disabled="true">Import project</a>
    </li>
</ul>
<div class="tab-content border border-top-0" id="myTabContent">
    <div class="tab-pane fade show active" id="empty" role="tabpanel">
        <div class="container" style="padding: 5%">
            <form action="/new/project" method="POST">
                <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" value="{{ name }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPath" class="col-sm-2 col-form-label">Path</label>
                    <div class="input-group col-sm-10">
                        <div class="input-group-prepend">
                            <div class="input-group-text">{{ user.login }} </div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="input-group-text">/</div>
                        </div>
                        <input type="text" class="form-control" id="inputPath" name="path" placeholder="Path" value="{{ path }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="areaDescription" class="col-sm-2 col-form-label">Description</label>
                    <div class="input-group col-sm-10">
                        <textarea class="form-control" id="areaDescription" rows="3" name="description">{{ description }}</textarea>
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Confidential</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="confidential" id="radioPublic" value="false" checked>
                                <label class="form-check-label" for="radioPublic">
                                    Public
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="confidential" id="radioPrivate" value="true">
                                <label class="form-check-label" for="radioPrivate">
                                    Private
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="import" role="tabpanel">
        <div class="container">
            ...
        </div>
    </div>
</div>
{% endblock %}
